<div class="flex fixed bottom-0 justify-evenly bg-slate-600 w-full p-4 z-20">
  <button variant="secondary" hlmBtn (click)="wordService.loadExample()">
    load example list
  </button>
  <button hlmBtn (click)="showModalForCreating()">createNew</button>

  <button variant="destructive" hlmBtn (click)="wordService.removeAll()">
    remove all words
  </button>
</div>

<dialog #newWordDialog>
  <form (ngSubmit)="submit()">
    @for(lang of languages(); track lang){
    <input
      class="w-80"
      hlmInput
      placeholder="{{ lang }}"
      [(ngModel)]="newWord[lang]"
      name="{{ lang }}"
      type="text"
    />
    }
    <button hlmBtn type="submit">Save</button>
  </form>
</dialog>
<dialog #optionsDialog>
  @if(activeWord){
  <form (ngSubmit)="updateWord()">
    @for(lang of languages(); track lang){
    <input
      class="w-80 my-2"
      hlmInput
      placeholder="{{ lang }}"
      [(ngModel)]="activeWord[lang]"
      name="{{ lang }}"
      type="text"
    />
    }
    <div class="flex w-full justify-around">
      <button hlmBtn type="submit" [disabled]="loading()">Update</button>
      <button
        hlmBtn
        type="button"
        variant="destructive"
        (click)="deleteWord()"
        [disabled]="loading()"
      >
        <hlm-icon
          size="sm"
          name="radixPadding"
          class="mr-2"
          [class.hidden]="!loading()"
        />
        <hlm-icon size="sm" name="radixTrash" [class.hidden]="loading()" />
      </button>

      <button
        hlmBtn
        type="button"
        (click)="optionsDialog.close()"
        variant="outline"
        [disabled]="loading()"
      >
        Cancel
      </button>
    </div>
  </form>
  }
</dialog>

<div class="grid grid-cols-{{ languages().length }} gap-2 place-items-center">
  @if(words().length){ @for( word of words(); track word){ @if($index === 0){
  @for(lang of languages(); track lang){
  <div class="flex gap-3">
    <h4 class="text-2xl font-bold">{{ lang }}</h4>
    <button
      hlmBtn
      size="icon"
      variant="outline"
      (click)="wordService.sort(lang)"
    >
      <hlm-icon size="sm" name="radixAlignBaseline" />
    </button>
  </div>

  } } @for(lang of languages(); track lang){
  <div class="py-4 relative word-pair w-full">
    {{ word[lang] }}
    @if($index === languages().length -1){
    <button
      class="word-pair__options"
      hlmBtn
      size="icon"
      variant="outline"
      (click)="showModalForOptions(word)"
    >
      <hlm-icon size="sm" name="radixActivityLog" />
    </button>
    }
  </div>

  } } }@else{
  <div>no words in your list</div>
  }
</div>
