<div class="my-6 container grid place-items-center">
  @if(config().languageArray){ @if(config().languageArray.length === 0){
  <div class="text-center">keine Sprachen aktiv</div>
  }
  <div
    class="flex rounded fixed left-0 bottom-0 justify-evenly bg-slate-300 w-full z-20 h-[80px] items-center"
  >
    <button
      variant="destructive"
      hlmBtn
      class="min-w-[min(30%,_200px)]"
      (click)="activeDialog.set('deleteAll')"
    >
      Alle entfernen
    </button>

    <button
      variant="secondary"
      hlmBtn
      (click)="loadExampleList()"
      class="min-w-[min(30%,_200px)]"
    >
      Lade Test Liste
    </button>

    <button
      hlmBtn
      (click)="activeDialog.set('new')"
      class="min-w-[min(30%,_200px)]"
    >
      Wort hinzufügen
    </button>
  </div>

  <hlm-alert-dialog
    [state]="activeDialog() === 'deleteAll' ? 'open' : 'closed'"
    (closed)="activeDialog.set('')"
  >
    <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
      <hlm-alert-dialog-header>
        <h3 hlmAlertDialogTitle>Bist du sicher?</h3>
        <p hlmAlertDialogDescription>
          Diese Aktion kann nicht rückgängig gemacht werden.
        </p>
      </hlm-alert-dialog-header>
      <hlm-alert-dialog-footer>
        <button hlmAlertDialogCancel (click)="ctx.close()">Cancel</button>
        <button
          hlmBtn
          variant="destructive"
          (click)="ctx.close(); this.removeAll()"
        >
          Löschen
        </button>
      </hlm-alert-dialog-footer>
    </hlm-alert-dialog-content>
  </hlm-alert-dialog>

  <hlm-dialog
    [state]="activeDialog() === 'new' ? 'open' : 'closed'"
    (closed)="activeDialog.set('')"
  >
    <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
      <hlm-dialog-header>
        <h3 hlmDialogTitle>Wortpaar hinzufügen</h3>
      </hlm-dialog-header>

      <div class="py-4 grid gap-2">
        @for(lang of config().languageArray; track lang){
        <input
          class="w-80"
          hlmInput
          placeholder="{{ config().conf.naming[lang] }}"
          [(ngModel)]="newWord[lang]"
          type="text"
        />
        }
      </div>
      <hlm-dialog-footer>
        <button
          hlmBtn
          type="button"
          variant="outline"
          [disabled]="loading()"
          (click)="activeDialog.set('')"
        >
          Cancel
        </button>
        <button
          hlmBtn
          type="submit"
          class=""
          (click)="submitNewWord()"
          [disabled]="loading()"
        >
          Speichern
        </button>
      </hlm-dialog-footer>
    </hlm-dialog-content>
  </hlm-dialog>
  <hlm-dialog
    [state]="activeDialog() === 'options' ? 'open' : 'closed'"
    (closed)="activeDialog.set('')"
  >
    <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
      <hlm-dialog-header>
        <h3 hlmDialogTitle>Wortpaar bearbeiten</h3>
      </hlm-dialog-header>

      <div class="py-4 grid gap-4">
        @for(lang of config().languageArray; track lang){
        <input
          class="w-80 my-2"
          hlmInput
          placeholder="{{ lang }}"
          [(ngModel)]="selectedWord![lang]"
          name="{{ lang }}"
          type="text"
        />
        }
      </div>
      <hlm-dialog-footer>
        <button
          hlmBtn
          type="button"
          variant="destructive"
          (click)="deleteWord()"
          [disabled]="loading()"
        >
          <hlm-icon
            size="sm"
            name="radixPadding"
            class="mr-2"
            [class.hidden]="!loading()"
          />
          <hlm-icon size="sm" name="radixTrash" [class.hidden]="loading()" />
        </button>
        <button
          hlmBtn
          type="button"
          class="mx-2"
          variant="outline"
          [disabled]="loading()"
          (click)="activeDialog.set('')"
        >
          Cancel
        </button>
        <button
          hlmBtn
          type="submit"
          [disabled]="loading()"
          (click)="updateWord()"
        >
          Update
        </button></hlm-dialog-footer
      >
    </hlm-dialog-content>
  </hlm-dialog>

  @if(words().length){
  <div
    [ngClass]="getGridColsClass()"
    class="grid gap-6 sm:gap-4 place-items-center mt-8 pb-[100px] relative"
  >
    @for( word of words(); track word){ @if($index === 0){ @for(lang of
    config().languageArray; track lang){
    <div class="flex flex-col gap-3 pr-2 justify-center text-center">
      <div>
        <button hlmBtn size="icon" variant="outline" (click)="handleSort(lang)">
          <hlm-icon size="sm" name="radixAlignBaseline" />
        </button>
      </div>
      <h4 class="font-bold uppercase">{{ lang }}</h4>
    </div>

    }
    <div class="col-span-1"></div>
    } @for(lang of config().languageArray; track lang){
    <div class="py-2 word-pair px-2 sm:px-6">
      {{ word[lang] }}
    </div>
    @if($index === config().languageArray.length -1){
    <button
      class="word-pair__options"
      hlmBtn
      size="icon"
      variant="outline"
      (click)="showModalForOptions(word)"
    >
      <hlm-icon size="sm" name="radixPencil2" />
    </button>
    } } }
  </div>
  }@else{
  <div class="text-center">Keine Wörter erstellt</div>
  } }@else{ ... lade sprachen }
</div>
