<div class="flex fixed bottom-0 justify-center bg-slate-600 w-full p-4">
  <button hlmBtn (click)="showModal()">createNew</button>
</div>

<div class="">
  <button variant="destructive" hlmBtn (click)="wordService.removeAll()">
    remove all words
  </button>
</div>

<div class="">
  <button variant="secondary" hlmBtn (click)="wordService.loadExample()">
    load example list
  </button>
</div>

<dialog #newWordDialog>
  <form (ngSubmit)="submit()">
    @for(lang of languages(); track lang){
    <input
      class="w-80"
      hlmInput
      placeholder="{{ lang }}"
      [(ngModel)]="newWord[lang]"
      name="{{ lang }}"
      type="text"
    />
    }
    <button hlmBtn type="submit">Save</button>
  </form>
</dialog>

<div class="grid grid-cols-3">
  @for(lang of languages(); track lang){
  <div class="flex gap-4 flex-col">
    <h4 class="text-2xl font-bold">{{ lang }}</h4>
    <button hlmBtn size="icon" variant="outline" (click)="sort(lang)">
      <hlm-icon size="sm" name="radixAlignBaseline" />
    </button>
  </div>

  }
</div>

@for( word of words(); track word){

<div class="grid grid-cols-3">
  <p>{{ word["de"] }}</p>
  <p>{{ word["en"] }}</p>
  <p>{{ word["it"] }}</p>
</div>
}
